.img-thumbnail {
  margin: 1.5rem;
  width: 85%;
  height: 85%;
}
.card-body {
  padding: 0 1.5rem;
}
.card-footer {
  padding: 0.625rem 1.5rem;
  background-color: #fff;
  border-top: none;
}
.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
